.titulo{
    background-color: pink;
    width: 100%;
    height: 1400px;
}
.encabezado{
    background-color: rgb(250, 156, 255);
    width: 100%;
    height: 150px;
}
.menu{
    background-color: rgb(171, 64, 224);
    width: 100%;
    height: 80px;
}
.contenedor2{
    background-color: #00edfd;
    width: 100%;
    height: 1200px;
    display: flex;
}
.izquierda{
background-color: black;
width: 20%;
height: 1200px;
}
.centro{
background-color: red;
width: 60%;
height: 1200px;
}
.derecha{
background-color: black;
width: 20%;
height: 1200px;
}